@page
<div class="text-center border border-opacity-0 my-5">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
        Information and support line
        </p>
        <i class="fa-solid fa-address-book"></i>
        <p>
             Dolmabahçe Cd., 34357 Beşiktaş/İstanbul
        </p>
        <i class="fa-solid fa-envelope text-primary my-3">
            <p>
                destek@app.gov.tr
            </p>
        </i>
    </div>
</div>