@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="bg-light border-top p-4">
    <div class="container">
        <div class="row">
            <!-- İlk Kolon: İletişim Bilgileri -->
            <div class="col-md-4">
                <h6 class="lead">İletişim Bilgileri</h6>
                <p>
                    <i class="fa fa-phone text-secondary"></i> +90 555 123 45 67<br>
                    <i class="fa fa-envelope text-secondary"></i> info@websitesi.com<br>
                    <i class="fa fa-map-marker-alt text-secondary"></i> Dolmabahçe Cd., 34357 Beşiktaş/İstanbul
                </p>
            </div>

           

            <!-- Üçüncü Kolon: Son Eklenen Ürünler -->
            <div class="col-md-4">
                <h6 class="lead">
                    <i class="fa fa-box text-secondary"></i> Son Eklenen Ürünler
                </h6>
                <ul class="list-unstyled">
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Keyboard</a></li>
                    <li><a href="#">Mouse</a></li>
                    <li><a href="#">Hamlet</a></li>
                    <li><a href="#">Be Loved</a></li>
                </ul>
            </div>
        </div>
        <!-- Alt Çizgi: Telif Hakkı -->
        <div class="text-center mt-3">
            <p class="text-muted mb-0">© 2025 StoreApp. Tüm Hakları Saklıdır.</p>
        </div>
    </div>
</div>
